<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>RAG 챗봇</h1>
    <div>
        <div>
            <h2>PDF 업로드</h2>
            <form id="upload-form">
                <input type="file" id="file-input" accept=".pdf">
                <button type="submit">업로드</button>
            </form>
        </div>
        <div>
            <h2>질문하기</h2>
            <form id="ask-form">
                <input type="text" id="question-input" placeholder="질문을 입력하세요.">
                <button type="submit">질문</button>
            </form>
            <div id="answer"></div>
        </div>
    </div>
    <script>
        // 1. "업로드 버튼"을 통해 문서 전송 - fetch('/upload')
        const form = document.getElementById('upload-form');
        
        form.addEventListener('submit', async (ev) => {
            ev.preventDefault();
            
            const fileInput = document.getElementById('file-input').files[0];
            if(!fileInput) return;   // 빈 파일 전송 금지

            const formData = new FormData(form)
            formData.append("file", fileInput)

            const response = await fetch('/upload', {
                method: 'POST',
                body: formData
            });

            const result = await response.json();
            console.log(result)
        })

        // 2. "질문 버튼"을 통해 질문하기 - fetch('/ask')
        const askForm = document.getElementById('ask-form');
        
        askForm.addEventListener('submit', async (ev) => {
            ev.preventDefault();
            
            const questionBtn = document.getElementById('question-input').value.trim();

            const response = await fetch('/ask', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ question: questionBtn })
            });

            const data = await response.json();
            console.log(data.answer)

            const answerDiv = document.getElementById('answer');
            answerDiv.textContent = data.answer;
        })
    </script>
</body>
</html>