# 개발 환경 파일
*.pyc
__pycache__/

# 환경 설정
.vscode
# .DS_Store # 맥북 사용 시

# Credentials (민감정보)
.env

# 업로드 폴더의 파일
uploads/

# 세션 임시 정보
.sessions/

# Database
*.db
*.sqlite
*.sqlite3
chroma_db/

# Data
history.json
*.pdf

*.png