<!-- 1. html 파일 상속 받기 -->
{% extends "base.html" %}

<!-- 2. title 설정 -->
{% block title %}
Signup Page
{% endblock %}

<!-- 3. contents -->
{% block content %}

<!-- flash messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- main -->
<h2>프로필 정보 수정</h2>
<form method="POST">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" value="{{ user.username }}" readonly><br>

    <label for="password">Password: </label>
    <input type="password" id="password" name="password"><br>

    <label for="password">Email: </label>
    <input type="text" id="email" name="email" value="{{ user.email }}"><br>
    <button type="submit">정보수정</button>
</form>
{% endblock %}