{% extends "base.html" %}

{% block content %}
<h2>{{ grade }}학년 - {{ curriculum_title }}</h2>

<div class="chat-container">
    <div class="chat-header">Chat bot 🤖</div>
    
    <div id="result">
        <div class="message bot-message">Hello! </div>
    </div>

    <form id="user-input-form">
        <input type="text" id="user-input" placeholder="메시지를 입력하세요" autocomplete="off">
        <button type="submit">전송</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const chatInput = document.getElementById('user-input');
        const formInput = document.getElementById('user-input-form');
        const resultDiv = document.getElementById('result');

        formInput.addEventListener('submit', async (ev) => {
            ev.preventDefault();

            const chatMessage = chatInput.value;
            console.log("User input:", chatMessage);
            if (!chatMessage.trim()) return;  // 빈 메시지 전송 방지
            
            const userDiv = document.createElement('div');
            userDiv.classList.add('message', 'user-message');
            userDiv.innerText = chatMessage;
            resultDiv.appendChild(userDiv);

            chatInput.value = '';

            const response = await fetch('/api/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    chatMessage,
                    grade: "{{ grade }}",
                    curriculumTitle: "{{ curriculum_title }}"
                })
            });

            const data = await response.json();

            const chatbotReply = document.createElement('p')
            chatbotReply.classList.add('message', 'bot-message');
            chatbotReply.innerText = data.reply;
            resultDiv.appendChild(chatbotReply);

            resultDiv.scrollTop = resultDiv.scrollHeight;
        })
    })
</script>
{% endblock %}